.academy__link {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $main-text-color;
  font-size: 16px;
  line-height: 16px;
  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.academy__icon {
  margin-right: -8px;
  fill: $social-icon;
  &:hover,
  &:active,
  &:focus {
    fill: $decoration-color;
  }
}

.academy__text {
  font-size: 16px;
  line-height: 16px;
}


@media (min-width: $tablet-width) {
  .academy__link {
    width: 162px;
  }

  .academy__icon {
    margin-right: -9px;
  }
}
