.application {
  padding-top: 17px;
  padding-bottom: 27px;
}

.application__heading {
  padding-bottom: 25px;
}

.application__capture {
  @include oswald-normal;
  font-size: 14px;
  line-height: 18px;
  color: $sec-text-color;
  text-transform: uppercase;
  margin: 0;
  padding-right: 10px;
  padding-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .application {
    padding-top: 49px;
    padding-bottom: 75px;
  }

  .application__heading {
      padding-bottom: 60px;
  }

  .application__capture {
    font-size: 20px;
    line-height: 30px;
    padding-right: 300px;
    padding-left: 40px;
    padding-bottom: 68px;
  }
}
