.application {
  padding-top: 17px;
  padding-bottom: 30px;
}

.application__container {
  min-width: 320px;
}

.application__heading {
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.application__capture {
  @include oswald-normal;
  font-size: 14px;
  line-height: 18px;
  color: $sec-text-color;
  text-transform: uppercase;
  margin: 0;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .application {
    padding-top: 49px;
    padding-bottom: 74px;
  }

  .application__heading {
    padding-bottom: 58px;
    padding-left: 0;
  }

  .application__capture {
    font-size: 20px;
    line-height: 30px;
    padding-right: 300px;
    padding-left: 40px;
    padding-bottom: 64px;
  }
}

@media (min-width: $desktop-width) {
  .application {
    padding-top: 70px;
    padding-bottom: 84px;
  }

  .application__heading {
    padding-bottom: 55px;
  }

  .application__capture {
    padding-left: 0;
    padding-right: 850px;
  }
}
