.button {
  @include oswald-normal;
  display: inline-block;
  background-color: $decoration-color;
  text-transform: uppercase;
  border: none;
  color: $third-text-color;
  text-align: center;
  width: 280px;
  padding-top: 13px;
  padding-bottom: 12px;
}

.button--secondary {
  background-color: $button-disabled;
  color: $main-text-color;
}
