.catalog {
  background-color: $main-back-color;
}

.catalog__heading {
  padding-top: 13px;
  padding-bottom: 25px;
}

.catalog__list {
  @include reset-list;
  padding-top: 4px;
}

.catalog__heading--sec {
  @include oswald-normal;
  font-size: 24px;
  line-height: 24px;
  color: $sec-text-color;
  margin: 0;
  padding: 30px 0;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 38px;
  }

  .catalog__heading {
    padding-bottom: 83px;
  }

  .catalog__heading--sec {
    position: relative;
  }

  .catalog__list--main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 55px;
  }

  .catalog__wrapper {
    display: flex;
  }

  .catalog__list--secondary {
    width: 70%;
    margin-right: 80px;
    padding-bottom: 86px;
  }
}
