.catalog {
  background-color: $main-back-color;
}

.catalog__heading {
  padding-top: 13px;
  padding-bottom: 25px;
}

.catalog__list {
  padding-top: 29px;
}

.catalog__list {
  @include reset-list;
}

.catalog__heading--sec {
  @include oswald-normal;
  font-size: 24px;
  line-height: 24px;
  color: $sec-text-color;
  margin: 0;
  padding-bottom: 34px;
}

@media (min-width: $tablet-width) {
.catalog {
  padding-top: 38px;
}

  .catalog__heading {
    padding-bottom: 110px;
  }

  .catalog__list--main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    display: flex;
  }
}
