.contacts {
  background-color: $sec-back-color;
  padding-top: 33px;
}

.contacts__card {
  display: flex;
  padding-bottom: 28px;
  padding-top: 33px;
}

.contacts__card--white {
  background-color: $main-back-color;
}

.contacts__capture {
  @include oswald-normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $sec-text-color;
  margin: 0;
}

.contacts__address {
  font-style: normal;
  line-height: 20px;
}

.contacts__map {
  width: 100%;
  height: 400px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .contacts__map {
    background-image: url("../img/bg-map-tablet@1x.png");
  }
}

@media (min-width: $tablet-width) {
  .contacts__map {
    background-image: url("../img/bg-map-desktop@1x.png");
  }
}
