.contacts {
  background-color: $sec-back-color;
  padding-top: 31px;

  &--white {
    background-color: $main-back-color;
  }
}

.contacts__card {
  display: flex;
  padding-bottom: 26px;
}

.contacts__capture {
  @include oswald-normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $sec-text-color;
  margin: 0;
}

.contacts__address {
  line-height: 20px;
  font-size: 14px;
  padding-left: 13px;
}

.contacts__street {
  font-style: normal;
}

.contacts__map {
  width: 100%;
  height: 362px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .contacts__map {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}

@media (min-width: $tablet-width) {
  .contacts__map {
    background-image: url("../img/bg-map-tablet@1x.png");
    height: 400px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  .contacts {
    padding-top: 63px;
  }

  .contacts__card {
    width: 630px;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 59px;
  }

  .contacts__capture,
  .contacts__address {
    width: 160px;
  }

  .contacts__capture {
    font-size: 20px;
    line-height: 25px;
    padding-top: 2px;
    padding-left: 5px;
  }

  .contacts__address {
    padding-left: 0;
    font-size: 16px;
    text-align: right;
  }

  .contacts__street {
    padding-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 0;
    position: relative;
  }

  .contacts__map {
    background-image: url("../img/bg-map-desktop@1x.png");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }

  .contacts__card {
    background-color: $main-back-color;
    width: 570px;
    position: absolute;
    top: 92px;
    left: calc((100vw - 1220px) / 2);
    z-index: 10;
    padding: 66px 80px 59px 80px;
    justify-content: space-between;
  }

  .contacts__address {
    text-align: left;
  }

  .contacts__capture {
    padding: 0;
    margin-right: 11px;
  }
}
