.example {
  background-color: $sec-back-color;
  padding-top: 20px;
  padding-bottom: 33px;
}

.example .container--slider {
  min-width: 320px;
}

.example__heading {
  margin: 0;
  padding-bottom: 24px;
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.example__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__text {
  margin: 0;
  padding-bottom: 24px;
  padding-right: 10px;
}

.example__value {
  @include oswald-normal;
  color: $sec-text-color;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  width: 124px;
  height: 56px;
  border: 1px solid $example-box;
  display: block;
  text-align: center;
  padding-top: 13px;
}

.example__name {
  display: block;
  font-size: 12px;
  line-height: 12px;
  width: 54px;
  text-align: center;
  margin-top: -9px;
}

.example__capture {
  @include oswald-normal;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  color: $sec-text-color;
  text-align: center;
  padding-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 40px;
    padding-bottom: 0;
    background-color: $main-back-color;
  }

  .example .container--slider {
    min-width: 768px;
  }

  .example__text-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .example__heading {
    padding-bottom: 62px;
  }

  .example__text {
    font-size: 16px;
    width: 100%;
    line-height: 24px;
    padding-bottom: 54px;
  }

  .example__info {
    margin-right: 42px;

    &:last-child {
      margin-right: 0;
    }
  }

  .example__capture {
    font-size: 20px;
    line-height: 30px;
    width: 174px;
    text-align: right;
    padding-top: 5px;
  }

  .example__value {
    width: 162px;
    min-height: 72px;
    font-size: 30px;
    line-height: 37px;
  }

  .example__name {
    font-size: 14px;
    line-height: 14px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    padding-top: 0;
    padding-bottom: 75px;
    background: linear-gradient(to bottom, $main-back-color, $main-back-color 188px, $sec-back-color 188px, $sec-back-color);
  }

  .example .container {
    padding-left: 40px;
  }

  .example .container--slider {
    padding-left: 70px;
  }

  .example__heading {
    padding-bottom: 145px;
  }

  .example__wrapper {
    padding-bottom: 50px;
  }

  .example__wrapper--main {
    width: 445px;
    padding-top: 47px;
  }

  .example__text {
    padding-bottom: 68px;
  }

  .example__text-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .example__capture {
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    width: 445px;
  }

  .example__price {
    padding-left: 60px;
  }
}
