.features {
  padding-top: 32px;
}

.features__heading {
  padding-bottom: 41px;
}

.features__list {
  @include reset-list;
}

.features__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
  .features__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .features__item {
    width: 25%;
  }
}
