.features {
  padding-top: 12px;
  padding-bottom: 42px;
}

.features__heading {
  padding-bottom: 32px;
}

.features__list {
  @include reset-list;
}

.features__item {
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: -3px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $decoration-color;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--two::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--three::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--four::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

.features__text {
  padding-left: 80px;
  margin: 0;
}

.features__text br {
  display: none;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .features__item {
    &::before {
      background-size: 50px 50px;
    }

    &--one::before {
      background-image: url("../img/advantage-leaf@2x.png");
    }

    &--two::before {
      background-image: url("../img/advantage-powder@2x.png");
    }

    &--three::before {
      background-image: url("../img/advantage-dining@2x.png");
    }

    &--four::before {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.features__text {
  padding-left: 80px;
  margin: 0;
}

.features__text br {
  display: none;
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 40px;
    padding-bottom: 110px;
  }

  .features__text br {
    display: block;
  }

  .features__heading {
    padding-bottom: 75px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    position: relative;
    margin-bottom: 133px;
    margin-right: 130px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(3n),
    &:nth-child(4n) {
      margin-bottom: 0;
    }

    .features__text {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
    }

    &::after {
      font-family: $sec-font;
      font-weight: 400;
      font-style: normal;
      font-size: 281px;
      color: #f2f2f2;
      display: block;
      position: absolute;
      left: 120px;
      top: 90px;
    }

    &--one::after {
      content: "1";
    }

    &--two::after {
      content: "2";
    }

    &--three::after {
      content: "3";
    }

    &--four::after {
      content: "4";
    }
  }

  .features__text {
    z-index: 2;
    width: 255px;
    padding-top: 110px;
    padding-left: 0;
  }

  .features__item::before {
    width: 80px;
    height: 80px;
    margin-right: 0;
    top: 0;
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding-top: 73px;
    padding-bottom: 133px;
  }

  .features__heading {
    padding-bottom: 73px;
  }

  .features__list {
    justify-content: space-between;
  }

  .features__item {
    margin-right: 0;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
    &--three::before,
    &--four::before {
      left: 6px;
    }
  }
}
