.footer {
  background-color: $sec-back-color;
}

.footer__container {
  padding-top: 39px;
  padding-bottom: 31px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  padding-bottom: 28px;
}

.footer__social {
  padding-top: 23px;
  padding-bottom: 16px;
}

.footer__academy {
  padding-top: 12px;
}

@media (min-width: $tablet-width) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__academy,
  .footer__logo {
    padding: 0;
  }
}
