.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  &--comment {
    margin-bottom: 25px;
  }
}

.form__heading {
  @include oswald-normal;
  font-size: 24px;
  line-height: 24px;
  color: $sec-text-color;
  padding-bottom: 30px;

  &--owner {
    padding-bottom: 33px;
  }
  &--comment {
    padding-bottom: 35px;
  }
  &--checkbox {
    padding-bottom: 40px;
  }
}

.form__row {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  &:last-child {
    margin-bottom: 0;
  }
}

.form__capture {
  @include oswald-normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $sec-text-color;
  margin-right: 12px;
}

.form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 0;
  margin-bottom: 10px;
}

.form__input {
  @include oswald-normal;
  font-size: 16px;
  line-height: 18px;
  color: $main-text-color;
  text-transform: uppercase;
  border: 1px solid $input-border;
  padding: 13px 14px;
  flex-grow: 1;

  &--textarea {
    width: 100%;
    min-height: 150px;
    padding-right: 0;
  }
}

.form__list {
  @include reset-list;
  padding-bottom: 23px;
  &--owner {
    padding-bottom: 27px;
  }
}

.form__required {
  display: block;
  text-align: center;
  margin-top: 18px;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;
}

@media (min-width: $tablet-width) {
  .form__list--checkbox {
    display: flex;
    flex-wrap: wrap;
  }

  .form__item--checkbox {
    justify-content: flex-start;
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset--main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .form__list--main {
    width: 50%;
  }
}
