.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;

  &--main {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__heading {
  @include oswald-normal;
  font-size: 24px;
  line-height: 24px;
  color: $sec-text-color;
  padding: 0;
  position: relative;
  margin-top: 30px;
  margin-bottom: 33px;
  background-image: linear-gradient(
    to bottom,
    transparent 0,
    transparent 12px,
    #68b738 12px,
    #68b738 16px,
    transparent 16px,
    transparent
  );
}

.form__heading span {
  background-color: $main-back-color;
  display: inline-block;
  padding: 0 20px;
}

.form__row {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__capture {
  @include oswald-normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $sec-text-color;
  margin-right: 12px;
}

.form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 0;
  margin-bottom: 10px;
}

.form__input {
  @include oswald-normal;
  font-size: 16px;
  line-height: 18px;
  color: $main-text-color;
  text-transform: uppercase;
  border: 1px solid $input-border-light;
  padding: 13px 14px;
  flex-grow: 1;
  outline: none;
  background-repeat: no-repeat;
  background-position: 95% 50%;

  &--textarea {
    width: 100%;
    min-height: 150px;
    padding-right: 0;
  }

  &--mail {
    background-image: url("../img/icon-mail.svg");
    background-size: 18px 14px;
  }

  &--phone {
    background-image: url("../img/icon-phone.svg");
    background-size: 21px 21px;
  }

  &:hover {
    border-color: $input-border;
  }

  &:focus,
  &:active {
    border: 2px solid $input-active;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 18px;
  }
}

.form__list {
  @include reset-list;
  padding-bottom: 23px;

  &--owner {
    padding-bottom: 27px;
  }

  &--cat {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid $border-color;
  }
}

.form__required {
  display: block;
  text-align: center;
  margin-top: 18px;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;
}

@media (min-width: $tablet-width) {
  .form__heading {
    font-size: 36px;
    line-height: 36px;
    background: linear-gradient(
      to bottom,
      transparent,
      transparent 50%,
      $decoration-color 50%,
      $decoration-color 54%,
      transparent 54%,
      transparent
    );
    padding: 0 calc((100vw - 708px) / 2);
  }

  .form__heading--owner br {
    display: none;
  }

  .form__heading span {
    padding: 0 36px;
  }

  .form__fieldset {
    padding-right: 40px;
  }

  .form__input {
    padding: 13px 24px;

    &--textarea {
      font-size: 20px;
      line-height: 30px;
      min-height: 174px;
    }
    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .form__list--cat {
    padding-bottom: 52px;
    border: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .form__row {
    margin-bottom: 24px;
  }

  .form__fieldset--checkbox {
    margin-bottom: 65px;
  }

  .form__capture {
    font-size: 20px;
    line-height: 20px;
  }

  .form__button {
    font-size: 20px;
    line-height: 20px;
    margin-right: 62px;
    margin-top: 0;
  }

  .form__required {
    font-size: 16px;
    line-height: 16px;
    margin-top: 0;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-left: 0;
  }

  .form__fieldset {
    padding-right: 0;

    &--main {
      margin: 0;
      margin-bottom: 65px;
    }

    &--comment {
      margin-bottom: 69px;
    }

    &--checkbox {
      margin-bottom: 20px;
    }
  }

  .form__heading {
    background: linear-gradient(
      to bottom,
      transparent 0,
      transparent 22px,
      #68b738 22px,
      #68b738 25px,
      transparent 25px,
      transparent
    );
    padding: 0 calc((100vw - 1220px) / 2);
  }

  .form__row {
    margin: 0;
    margin-bottom: 24px;
  }

  .form__wrapper--main {
    display: flex;
    justify-content: flex-start;
  }

  .form__list {
    &--owner {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    &--radio {
      width: 50%;
      margin-top: 0;
      padding-top: 0;
    }

    &--main {
      width: 50%;
    }

    &--cat {
      width: 47%;
      padding-bottom: 0;
      margin-right: 80px;
    }
  }

  .form__list--owner .form__row {
    width: 50%;
    margin: 0;
    margin-right: 78px;

    &:last-child {
      margin-right: 0;
    }
  }

  .form__button {
    width: 568px;
  }
}
