.gift {
  padding-top: 65px;
  padding-bottom: 45px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.gift__capture {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $third-text-color;
  width: 159px;
}

.gift__icon {
  display: block;
  height: 61px;
  width: 56px;
  background-image: url("../../img/icon-gift.svg");
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

@media (min-width: $tablet-width) {
  .gift {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    padding-top: 75px;
    padding-bottom: 69px;
    flex-direction: row;
  }

  .gift__capture {
    width: 159px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    flex-direction: column;
  }

  .gift__capture {
    text-align: center;
  }
}
