.gift {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 190px;
  padding-bottom: 43px;
  margin-bottom: 35px;
}

.gift__capture {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $third-text-color;
  width: 159px;
}

.gift__icon {
  height: 61px;
  width: 56px;
  display: block;
  background-image: url("../../img/icon-gift.svg");
}

@media (min-width: $tablet-width) {
  .gift {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    padding-top: 75px;
    padding-bottom: 69px;
  }

  .gift__container {
    display: flex;
  }

  .gift__capture {
    width: 159px;
    text-align: left;
  }
}
