.gift {
  position: relative;
  padding-top: 185px;
  padding-bottom: 45px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    top: 22%;
    left: 40%;
    height: 61px;
    width: 56px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}

.gift__capture {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $third-text-color;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .gift {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .gift {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    padding-top: 75px;
    padding-bottom: 69px;
    padding-left: 425px;
    flex-direction: row;
    margin: 0;

    &::before {
      left: 13%;
      top: 32%;
    }
  }

  .gift__capture {
    text-align: left;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .gift {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px 200px;
    }
  }
}

@media (min-width: $desktop-width) {
  .gift {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    flex-direction: column;
    width: 245px;
    height: 289px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 190px;
    padding-bottom: 0;
    background-size: 245px 289px;

    &::before {
      top: 24%;
      left: 39%;
    }
  }

  .gift__capture {
    text-align: center;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .gift {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}
