.header {
  background-color: $main-back-color;
  position: relative;
  border-bottom: 1px solid $border-color;
}

.header__container {
  min-width: 320px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: $mobile-width-only) {
  .header__navigation .site-list__item {
    display: block;
  }

  .header__navigation--closed .site-list__item {
    display: none;
  }

  .header__navigation--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .header {
    border-bottom: none;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
  }

  .header__menu {
    padding: 0;
  }

  .header__navigation {
    display: block;
    z-index: 10;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding-top: 53px;
  }

  .header__container {
    padding-top: 0;
  }

  .header__menu {
    margin-left: 6px;
  }

  .header__navigation {
    margin-right: 3px;
  }
}
