.header {
  background-color: $main-back-color;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 13px;
}

.header__navigation {
  display: none;

  &--open {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .header__container {
    display: flex;
    justify-content: space-between;
  }

  .header__navigation {
    display: block;
    z-index: 10;
  }
}
