.logo__image {
  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .logo__image--header {
    width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .logo__image--header {
    width: 195px;
  }
}
