.main-card {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 18px;
}

.main-card__link--text {
  display: block;
  width: 100px;
  margin-bottom: 4px;
}

.main-card__heading {
  @include oswald-normal;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $sec-text-color;
}

.main-card__table {
  height: 41px;
  margin-bottom: 18px;
  width: 140px;
}

.main-card__name,
.main-card__value {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.main-card__name {
  text-align: left;
}

.main-card__value {
  text-align: right;
}

.main-card__order {
  font-size: 16px;
}

.main-card__capture {
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .main-card {
    width: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: $sec-back-color;
    padding-bottom: 40px;
    margin-bottom: 70px;
    text-align: center;

    &--more {
      background-color: $main-back-color;
      border: 1px solid $border-color;
    }
  }

  .main-card__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-card__link--text {
    width: 130px;
    margin-top: 33px;
    margin-bottom: 0;
  }

  .main-card__heading {
    font-size: 20px;
    line-height: 20px;
  }

  .main-card__name,
  .main-card__value {
    font-size: 16px;
    line-height: 16px;
  }

  .main-card__table,
  .main-card__order {
    width: 249px;
  }

  .main-card__table {
    margin-bottom: 0;
    margin-top: 20px;
  }

  .main-card__row {
    height: 31px;
  }

  .main-card__capture {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .main-card {
    width: 245px;
  }

  .main-card__order {
    width: 169px;
  }
}
