.main-card {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 22px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $border-color;
}

.main-card__link--text {
  display: block;
  width: 100px;
  margin-top: 23px;
}

.main-card__heading {
  @include oswald-normal;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $sec-text-color;
}

.main-card__table {
  height: 41px;
  width: 140px;
  margin-top: 8px;
  border-collapse: collapse;
}

.main-card__row {
  border-bottom: 1px solid $catalog-border;
}

.main-card__name,
.main-card__value {
  padding: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.main-card__name {
  text-align: left;
}

.main-card__value {
  text-align: right;
}

.main-card__order {
  margin-top: -5px;
}

.main-card--more {
  flex-direction: column;
  align-items: center;
  background-image: url("../img/icon-plus-mobile.svg");
  background-position: 50% 16%;
  background-size: 31px;
  background-repeat: no-repeat;
  padding-top: 80px;
}

.main-card__capture {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .main-card {
    width: 324px;
    padding-left: 0;
    padding-right: 0;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(to top, $sec-back-color, $sec-back-color 85%, $main-back-color 15%, $main-back-color);
    padding-bottom: 40px;
    margin-bottom: 58px;
    text-align: center;

    &--more {
      margin-top: 80px;
      min-height: 432px;
      flex-direction: column;
      align-items: center;
      background-color: $main-back-color;
      border: 1px solid $border-color;
      background-image: url("../img/icon-plus.svg");
      background-repeat: no-repeat;
      background-position: 50% 15%;
      background-size: 61px;
      padding-top: 160px;
    }
  }

  .main-card--small {
    padding-top: 35px;
  }

  .main-card__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 31px;
  }

  .main-card__link--text {
    width: 130px;
    margin-top: 33px;
    margin-bottom: 0;
  }

  .main-card__heading {
    font-size: 20px;
    line-height: 20px;
  }

  .main-card__name,
  .main-card__value {
    font-size: 16px;
    line-height: 16px;
  }

  .main-card__table,
  .main-card__order {
    width: 249px;
  }

  .main-card__table {
    margin-bottom: 0;
    margin-top: 15px;
  }

  .main-card__row {
    height: 31px;
  }

  .main-card--more .main-card__heading {
    width: 150px;
  }

  .main-card__capture {
    font-size: 16px;
    width: 170px;
    padding-top: 28px;
    padding-bottom: 86px;
  }

  .main-card__image {
    height: 206px;

    &--small {
      height: 170px;
    }
  }

  .main-card__order {
    margin-top: -1px;
  }
}

@media (min-width: $desktop-width) {
  .main-card {
    width: 245px;
    margin-bottom: 63px;
  }

  .main-card__table {
    margin-top: 17px;
    width: 172px;
  }

  .main-card__text {
    margin-bottom: 26px;
  }

  .main-card__link--text {
    margin-top: 31px;
  }

  .main-card__order {
    width: 169px;
    margin-top: 2px;
  }

  .main-card__capture {
    padding-bottom: 80px;
  }
}
