.main-card {
  padding-bottom: 25px;
  padding-top: 25px;
}

.main-card__heading {
  margin: 0;

  @include oswald-normal;
  font-size: 16px;
  line-height: 20px;
  color: $sec-text-color;
}

.main-card__name,
.main-card__value {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

.main-card--more {
  text-align: center;
}

.main-card__capture {
  font-size: 12px;
  line-height: 16px;
}
