.promo {
  background-color: $main-back-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  color: $third-text-color;
  text-align: center;
  padding-top: 29px;
  padding-bottom: 22px;
}

.promo__heading {
  @include oswald-normal;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 25px;
}

.promo__capture {
  @include oswald-normal;
  margin: 0;
  text-transform: uppercase;
  line-height: 14px;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .promo {
    position: relative;
    background-image: none;
    padding-bottom: 529px;
    padding-top: 50px;
  }

  .promo__container {
    padding-left: 88px;
  }

  .promo__image {
    position: absolute;
    left: 4%;
    top: 31%;
  }

  .promo__heading {
    color: $sec-text-color;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    width: 450px;
    padding-bottom: 42px;
  }

  .promo__capture {
    color: $sec-text-color;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-bottom: 48px;
  }

  .promo__button {
    float: left;
    font-size: 20px;
    line-height: 20px;
    width: 245px;
    padding-top: 17px;
    padding-bottom: 15px;
    position: relative;
    z-index: 10;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    position: relative;
    background-image: none;
    background-position: right;
    padding-bottom: 200px;

    &::before {
      content: "";
      width: 50%;
      height: 696px;
      position: absolute;
      top: -100px;
      right: 0;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: none;
      background-size: cover;
    }
  }

  .promo__image {
    top: 16%;
    left: 43%;
  }
}
