.radio-list {
  margin-top: 25px;
  padding-left: 6px;
  padding-bottom: 32px;
}

.radio-list__item {
  margin-bottom: 22px;
}

.radio-list__title {
  position: relative;
  padding-left: 40px;

  &::before {
    content: "";
    box-sizing: border-box;
    border-radius: 50%;
    left: -6px;
    top: -4px;
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 9px;
    background-color: $main-back-color;
    border: 1px solid $border-color;
  }
}

.radio-list__btn:checked + .radio-list__title::before {
  background-color: $decoration-color;
  background-clip: content-box;
}


@media (min-width: $tablet-width) {
    .radio-list {
      width: 100%;
      padding-left: 48px;
      padding-top: 33px;
      border: 1px solid $border-color;
      padding-bottom: 0;
  }

  .radio-list__item {
    margin-bottom: 30px;
  }

  .radio-list__title::before {
    width: 40px;
    height: 40px;
    left: -23px;
  }
}

@media (min-width: $desktop-width) {
  .radio-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    width: 30%;
    min-height: 196px;
    padding-left: 43px;
    padding-top: 30px;
  }
    .radio-list__title::before {
      left: -18px;
  }
}
