.radio-list {
  margin-top: 25px;
  padding-left: 6px;
}

.radio-list__item {
  margin-bottom: 22px;
}

.radio-list__title {
  position: relative;
  padding-left: 40px;

  &::before {
    content: "";
    box-sizing: border-box;
    top: 0;
    border-radius: 50%;
    left: -6px;
    top: -4px;
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 9px;
    background-color: $main-back-color;
    border: 1px solid $border-color;
  }
}

.radio-list__btn:checked + .radio-list__title::before {
  background-color: $decoration-color;
  background-clip: content-box;
}
