.sec-card {
  border-top: 1px solid $border-color;
  padding-top: 14px;
}

.sec-card__heading {
  @include oswald-normal;
  text-transform: uppercase;
  color: $sec-card-heading;
  line-height: 16px;
  margin: 0;
}

.sec-card__information {
  padding-bottom: 14px;
}

.sec-card__order {
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .sec-card {
    padding: 28px 37px;
    box-sizing: border-box;
    border: 1px solid $border-color;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      border-bottom: 1px solid $border-color;
    }

    .sec-card__information {
      padding-bottom: 0px;
    }

    .sec-card__order {
      margin: 0;
      margin-top: 27px;
      width: 633px;
    }
  }
}
