.sec-card {
  border-top: 1px solid $border-color;
  padding-top: 12px;
}

.sec-card__heading {
  @include oswald-normal;
  text-transform: uppercase;
  color: $sec-card-heading;
  line-height: 16px;
  padding-bottom: 7px;
  margin: 0;
}

.sec-card__information {
  width: 100%;
  padding-bottom: 9px;
}

.sec-card__row {
  display: flex;
  justify-content: space-between;
}

.sec-card__order {
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .sec-card {
    padding: 28px 37px;
    padding-top: 25px;
    box-sizing: border-box;
    border: 1px solid $border-color;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      border-bottom: 1px solid $border-color;
    }
  }

  .sec-card__heading {
    font-size: 20px;
    line-height: 20px;
    min-width: 325px;
  }

  .sec-card__information {
    padding-bottom: 0;
    width: 284px;
  }

  .sec-card__order {
    margin: 0;
    margin-top: 16px;
    width: 633px;
  }

  .sec-card__row {
    display: flex;
    justify-content: flex-end;
  }

  .sec-card__value {
    margin-left: 53px;
  }
}

@media (min-width: $desktop-width) {
  .sec-card {
    padding: 16px 0;
    border-left: none;
    border-right: none;
  }

  .sec-card__row {
    justify-content: space-between;
  }

  .sec-card__order {
    margin: 0;
    margin-left: 39px;
    margin-bottom: -4px;
    width: 245px;
  }

  .sec-card__value {
    margin-left: 0;
  }
}
