.site-list {
  @include reset-list;
  text-align: center;
}

.site-list__link {
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
  font-family: $sec-font;
  color: $sec-text-color;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 20px;
  border-top: 1px solid $border-color;

  &[href]:hover {
    color: $menu-hover;
  }

  &[href]:active,
  &[href]:focus {
    color: $menu-active;
  }
}
