.site-list {
  @include reset-list;
  text-align: center;
}

.site-list__item {
  display: block;
  padding-top: 23px;
  padding-bottom: 23px;
  border-top: 1px solid $border-color;
}

.site-list__link {
  font-family: $sec-font;
  color: $sec-text-color;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  text-transform: uppercase;
  line-height: 20px;

  &[href]:hover {
    color: $menu-hover;
  }

  &[href]:active,
  &[href]:focus {
    color: $menu-active;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__item {
    margin-right: 35px;
    border: none;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-list__link {
    font-weight: 400;
    border-bottom: 3px solid $decoration-color;

    &[href] {
      border: none;
    }
  }
}
