.slider {
  background-color: $sec-back-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__image {
  padding-bottom: 27px;
  width: 100%;
  height: 267px;
}

.slider__controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 198px;
  margin-top: 3px;
}

.slider__button {
  font-family: $sec-font;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  border: none;
  display: inline-block;
  background-color: $sec-back-color;
  padding: 0;
}

.slider__range {
  width: 84px;
  height: 14px;
  border-radius: 20px;
  background-color: $main-back-color;
  border: 1px solid $input-border;
  padding: 3px;
  padding-left: 6px;
}

.slider__value {
  width: 50%;
  height: 100%;
  border-radius: 20px;
  background-color: $decoration-color;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

  &:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    border: 2px solid $decoration-color;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .slider {
    padding-left: 0;
    padding-top: 65px;
    padding-bottom: 68px;
    background: linear-gradient(to bottom, $main-back-color, $main-back-color 33%, $sec-back-color 33%, $sec-back-color);
  }

  .slider__image {
    height: 545px;
    width: 100%;
  }

  .slider__controller {
    width: 75%;
    margin-top: -20px;
  }

  .slider__button {
    font-size: 20px;
    padding-bottom: 6px;
    line-height: 20px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  }

  .slider__range {
    width: 428px;
    height: 6px;
    background-color: $slider-range;
    position: relative;
    margin-top: 3px;
  }

  .slider__value {
    position: absolute;
    top: -14px;
    left: 47%;
    width: 34px;
    height: 34px;
    border: 1px solid $input-border;
    background: radial-gradient($decoration-color, $decoration-color 4px, $main-back-color 5px, $main-back-color 100%);
  }
}

@media (min-width: $desktop-width) {
  .slider {
    padding: 0;
    background: linear-gradient(to bottom, $main-back-color, $main-back-color 183px, $sec-back-color 183px, $sec-back-color);
  }

  .slider__controller {
    margin-top: 0;
    width: 88%;
    padding-left: 45px;
  }
}
