//fonts
$main-font: "Arial", sans-serif;
$sec-font: "Oswald", "Arial", sans-serif;

//color
$main-text-color: #444444;
$sec-text-color: #111111;
$third-text-color: #ffffff;
$main-back-color: #ffffff;
$sec-back-color: #f2f2f2;
$border-color: #ededed;

$menu-hover: rgba(17, 17, 17, 0.6);
$menu-active: rgba(17, 17, 17, 0.3);

$decoration-color: #68b738;
$button-action: #5eaa2f;

$button-sec: #f2f2f2;
$button-sec-hover: #ebebeb;
$button-sec-active: rgba(68, 68, 68, 0.3);

$program-link-action: rgba(17, 17, 17, 0.3);

$academy-action: rgba(68, 68, 68, 0.3);

$input-border: #cdcdcd;
$input-error: #ff8282;

$sec-card-heading: #222222;
