//fonts
$arial: "Arial", sans-serif;
$oswald: "Oswald", "Arial", sans-serif;

$main-font: $arial;
$sec-font: $oswald;

//color
$dark: #111111;
$grey: #444444;
$light: #ffffff;
$green: #68b738;

$main-text-color: $grey;
$sec-text-color: $dark;
$decoration-color: $green;
