//fonts
$main-font: "Arial", sans-serif;
$sec-font: "Oswald", "Arial", sans-serif;

//color
$main-text-color: #444444;
$sec-text-color: #111111;
$third-text-color: #ffffff;
$main-back-color: #ffffff;
$sec-back-color: #f2f2f2;
$border-color: #ededed;

$menu-hover: rgba(17, 17, 17, 0.6);
$menu-active: rgba(17, 17, 17, 0.3);

$menu-white-hover: rgba(255, 255, 255, 0.6);
$menu-white-active: rgba(255, 255, 255, 0.3);

$decoration-color: rgb(104, 183, 56);
$button-action: #5eaa2f;

$button-sec: #f2f2f2;
$button-sec-hover: #ebebeb;
$button-sec-active: rgba(68, 68, 68, 0.3);

$program-link-action: rgba(17, 17, 17, 0.3);

$academy-action: rgba(68, 68, 68, 0.3);

$input-border: rgb(205, 205, 205);
$input-border-light: rgba(205, 205, 205, 0.5);
$input-active: #444444;
$input-hover: #bababa;
$input-error: #ff8282;

$sec-card-heading: #222222;

$example-box: #cdcdcd;
$slider-range: #cdcdcd;

$social-icon: #666666;
//width
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;
