@import "global/font.scss";
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/scaffolding.scss";
@import "global/layout.scss";
@import "blocks/button.scss";
@import "blocks/section.scss";
@import "blocks/promo.scss";
@import "blocks/programmes.scss";
@import "blocks/features.scss";
@import "blocks/menu-button.scss";
@import "blocks/example.scss";
@import "blocks/radio-list.scss";
@import "blocks/header.scss";
@import "blocks/slider.scss";
@import "blocks/site-list.scss";
@import "blocks/gift.scss";
@import "blocks/social.scss";
@import "blocks/main-card.scss";
@import "blocks/sec-card.scss";
@import "blocks/academy.scss";
@import "blocks/catalog.scss";
@import "blocks/application.scss";
@import "blocks/form.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";
